*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
#main{
	width:100%;
	height:100%;
}

.hidden{
	display:none;
}
    

/*left*/
#main_left{
	float:left;
	min-width:130px;
	width:25%;
	height:100%;
}
#left_top{
	height:30%;
	background-color:#4D4D4D;

	position:relative;
}
#left_top_name{
	color:white;
	position:absolute;
	bottom:100px;
	left:50%;
	transform:translateX(-50%);
}
#head_img{
	width:130px;
	height:130px;
	border-radius:50%;
	border:5px solid white;
	background-color:#88ACDB;

	position:absolute;
	bottom:0;
	left:50%;
	transform:translate(-50%,50%);
}
#left_bottom{
	min-height:70%;
}
#left_bottom_list{
	width:130px;
	padding-top:90px;
	margin:0 auto;
}
#left_bottom_list li{
	font-size:24px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:10px;
	cursor:pointer;
	
}
#left_bottom_list li:hover{
	font-size:30px;
	color:grey;
	box-shadow:0 0 10px grey;
	border-radius:5px;
}


/*rigth*/
#main_right{
	margin:0 auto;
	width:74%;
	height:100%;
	overflow:auto;
}
#main_right>div{
	margin:20px 2% 0 2%;
}
.ul_title{
	font-family:"宋体";
	font-size:30px;

	height:30px;
	line-height:30px;
	margin:10px 0 10px 10px;
}
#main_right>div{
	border:1px solid grey;
	border-left:5px solid grey;
	overflow:hidden;
}
#main_right>div li:not([class='ul_title']){
	margin:20px 0 20px 30px;
	font-size:20px;
	height:25px;
	line-height:25px;
}
#main_right>div li a{
	color:grey;
}
#main_right>div li a:hover{
	color:red;
}
